@media screen and (min-width: 1024px) {
    .header{

        .encabezado{
            padding-top: 50px;
            
            &__img{
                height: 35px;
            }

            &__button{
                width: 180px;
                height: 45px;
                font-size: 13px;
                padding: 15px 25px;
            }
        }

        .info{
            flex-direction: row;
            justify-content: space-between;

            &__container{
                text-align: start;
            }

            &__title{
                width: 88%;
                font-size: 38px;
                text-align: start;
            }

            &__p{
                width: 88%;
                text-align: start;
            }

            &__button{
                height: 50px;
            }

            &__img{
                width: 55%;
            }
        }
    }

    .main{

        .container{

            .ready{
                position: absolute;
                bottom: -390px;
                width: 55%;
                max-width: 800px;
                padding: 50px 15px 0;
                display: flex;
                flex-direction: column;

                &__button{
                    font-size: 16px;
                    letter-spacing: 1.5px;
                    height: 70px;
                    width: 350px;
                }
            }
        }
    }

    .footer{

        .contenedor{

            .footer__container{
                flex-direction: row;
                gap: 100px;
                width: 90%;

                .contac{

                    .contact__a{
                        display: flex;
                        flex-direction: column;
                    }

                    .contact__social{
                        gap: 15px;
                        justify-content: start;
                        width: 83%;
                    }
                }
            }

            .f_p{
                margin-right: 5%;
                text-align: end;
                font-size: 16px;
            }
        }
    }
}