.header{
    background-image: url('./images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-color: $very-pale-cyan;
    margin: 0 auto;

    .encabezado{
        max-width: 1440px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;
        margin-bottom: 75px;

        &__img{
            height: 20px;
        }

        &__button{
            width: 100px;
            height: 25px;
            font-size: 12px;
            font-weight: 700;
            color: $very-dark-cyan;
            border: none;
            background-color: $white;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
            border-radius: 50px;

            &:hover{
                cursor: pointer;
                color: $grayish-blue;
            }
        }
    }

    .info{
        max-width: 1440px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;

        &__container{
            text-align: center;
        }

        &__title{
            width: 95%;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            color: $very-dark-cyan;
        }

        &__p{
            text-align: center;
            margin: 25px 0 25px;
            color: $very-dark-cyan;
        }

        &__button{
            width: 250px;
            height: 40px;
            font-size: 12px;
            font-weight: 700;
            color: $white;
            border: none;
            border-radius: 50px;
            background-color: $pink;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
            margin-bottom: 50px;

            &:hover{
                cursor: pointer;
                background-color: $pink-2
            }
        }

        &__img{
            width: 90%;
            margin-bottom: 35px;
        }
    }
}

.main{
    .container{
        position: relative;
        margin-bottom: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 85%;
            max-width: 1440px;
            padding: 50px 35px 35px;
            margin-bottom: 35px;
            border-radius: 10px;
            background-color: $white;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);

            ._img{
                width: 100%;
                margin-bottom: 50px;
            }

            ._h2{
                color:$very-dark-cyan;
                font-weight: 600;
                font-size: 20px;
                margin-bottom: 15px;
                text-align: center;
            }

            ._p{
                color: $grayish-blue;
                text-align: center;
                font-size: 14px; 
            }
        }

        .ready{
            position: absolute;
            bottom: -275px;
            width: 90%;
            padding: 50px 15px 0;

            &__h2{
                font-size: 18px;
            }

            &__button{
                width: 250px;
                height: 40px;
                font-size: 11px;
                font-weight: 700;
                color: #fff;
                border: none;
                border-radius: 50px;
                background-color: $pink;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
                margin-bottom: 50px;

                &:hover{
                    background-color: $pink-2;
                }
            }
        }
    }
}

.footer{
    background-color: $very-dark-cyan;
    padding-top: 125px;

    .contenedor{
        max-width: 1440px;
        margin: 0 auto;

        .footer__img{
            margin: 50px 5% 25px;
        }

        .footer__container{
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 90%;

            .footer__info{

                .location{
                    display: flex;
                    align-items: flex-start;
                    margin-bottom: 25px;

                    .location__img{
                        margin-right: 25px;
                    }

                    .footer__p{
                        color: $white;
                        font-size: 16px;
                    }
                }

                .phone{
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;

                    .phone__img{
                        margin-right: 25px;
                    }

                    .footer__p{
                        color: $white;
                        font-size: 16px;
                    }
                }

                .email{
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;

                    .email__img{
                        margin-right: 25px;
                    }

                    .footer__p{
                        color: $white;
                        font-size: 16px;
                    }
                }
            }

            .contac{
                width: 100%;
                margin-top: 25px;
                margin-bottom: 25px;

                .contact__a{
                    margin-bottom: 50px;

                    ul{

                        li{
                            margin-bottom: 20px;

                            a{
                                color: $white;
                                font-size: 18px;

                                &:hover{
                                    cursor: pointer;
                                    border-bottom: 1px solid $white;
                                }
                            }
                        }
                    }
                }
            }

            .contact__social{
                display: flex;
                justify-content: space-evenly;
                width: 80%;
                margin: 0 auto;
                margin-bottom: 25px;

                i{
                    display: flex;
                    color: #fff;
                    font-size: 24px;
                    padding: 8px;
                    border: 1px solid $white;
                    border-radius: 50%;

                    &:hover{
                        cursor: pointer;
                        border: 1px solid $pink;
                        color: $pink;
                    }
                }
            }

        }

        .f_p{
            color: $white;
            font-size: 12px;
            text-align: center;
        }
    }
}